<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8y9tr0Vd4eJ1awFXrPw1vBWTMHecxFPg</string>
	<key>GCM_SENDER_ID</key>
	<string>895180461809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactdetail</string>
	<key>PROJECT_ID</key>
	<string>contact-detail-8f515</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-detail-8f515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895180461809:ios:859653d4ad617c72a03b50</string>
</dict>
</plist>